<ul>
  <li>option 2 booked</li>
  <li>AUD to CNY exchange rate</li>
  <li>QR code to create an NAB account in Australia</li>
  <li>Map with NAB ATMs near places of interest</li>
</ul>
<%= link_to 'start again', page_path('root') %>
