<form accept-charset="UTF-8" action="<%= image_search_index_path %>" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <%= text_area_tag(:image_urls, "", size: "24x6") %>
  <%= submit_tag "Find me a holiday" %>
</form>